name: CI/CD Pipeline
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build Docker Image
        run: docker build -t devops-app:latest .
      - name: Run Tests
        run: |
          docker run -d -p 5000:5000 --name test-app --network host devops-app:latest
          sleep 10
          curl --fail http://localhost:5000 || (docker logs test-app && exit 1)
          docker stop test-app
          docker rm test-app
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest
