name: CI/CD Pipeline
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t devops-app:latest .

      - name: Run and Verify App
        run: |
          # מריצים את האפליקציה
          docker run -d --name test-app -p 5000:5000 devops-app:latest
          sleep 10
          # בדיקה שהשרת בכלל עונה (גם אם זו שגיאה 500 בגלל שאין רדיס, זה אומר שהקוד תקין)
          curl -s -o /dev/null -w "%{http_code}" http://localhost:5000 | grep -E "200|500"
          docker stop test-app
          docker rm test-app

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest
