name: CI/CD Pipeline
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t devops-app:latest .

      - name: Run Redis and Test
        run: |
          # מריצים רדיס רגיל על השרת
          docker run -d --name redis -p 6379:6379 redis
          # מריצים את האפליקציה על הרשת של המארח כדי שתראה את רדיס ב-localhost
          docker run -d --name test-app --network host devops-app:latest
          sleep 15
          curl --fail http://localhost:5000 || (docker logs test-app && exit 1)
          docker stop test-app redis
          docker rm test-app redis

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-app:latest
